
[GHEGist]
  Public = false
  access_token = ""
  auto_sync = false
  base_url = ""
  file_name = ""
  gist_id = ""
  upload_url = ""

[General]
  Backend = "gist"
  Cmd = []
  Column = 40
  Editor = "sensible-editor"
  SelectCmd = "fzf --ansi --layout=reverse --border --height=90% --pointer=* --cycle --prompt=Snippets:"
  SnippetFile = "/home/sdouche/.config/pet/snippet.toml"
  SortBy = ""

[Gist]
  Public = false
  access_token = "{{ onepasswordRead "op://Personal/PET/credential" }}"
  auto_sync = true
  file_name = "pet-snippet.toml"
  gist_id = "6a84d75239166e180f8f05718d6558e2"

[GitLab]
  ID = ""
  Url = ""
  Visibility = "private"
  access_token = ""
  auto_sync = false
  file_name = "pet-snippet.toml"
  skip_ssl = false
